* {
    font-family: Roboto,"system-ui",sans-serif;
}
.left {
    width: 40%;
}

.flex1 {
    display: flex;
    /* gap: 20px; */
}

.flex2 {
    display: flex;
    gap: 20px;
}

.static > h4{
    margin-left: 18px;
}

li {
    font-size: 13px;
    line-height: 1.7em;
    font-weight: light;
}

span {
    color: #287ec2;
    cursor: pointer;
}

#price > p {
    line-height: 1.2em;
}

.save {
    color: #457351;
    font-weight: bold;
}